body {
    background-color: lightgray;
}

#background {
    background-color: darkgray;
    border: 10px solid red;
    height: 80%;
    margin: auto;
    width: auto;
}

h1 {
    font-size: xx-large;
    color: gray;
}

h2 {
    font-size: large;
}

h3 {
    font-size: 12px;
    color: white;
    font-weight: 600;
    background-color: red;
}
