body {
    background-color: lightgray;
    height: 100%;
    width: 100%;
}

#background {
    background-color: darkgray;
    border: 10px solid red;
    height: 80%;
    margin: auto;
    width: auto;
}

h1 {
    color: gray;
    font-size: xx-large;
    text-align: center;
}

h2 {
    font-size: large;
    text-align: center;
}


table, th, td {
    background: black;
    border: 1px solid red;
    color: white;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
}
