body {
    background-color: lightgray;
}

#background {
    background-color: darkgray;

    border: 10px solid red;
}

h1 {
    font-size: xx-large;
    color: gray;
}

h2 {
    font-size: large;
}
