<!DOCTYPE html>
<html>
<head>
    <title>Person of the Year</title>
    <link href="~/StyleSheet.css" rel="stylesheet" />
</head>
<body>
    <div id="background">
        <div id="heading">
            <h1>Time</h1>
            <h2>Person of the Years</h2>
        </div>

        <div id="form">
            <form action="/" method="post">
                <label name="startYear">Beginning Year</label>
                <input name="startYear" type="number" />

                <label name="endYear">Ending Year</label>
                <input name="endYear" type="number" />

                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
</body>
</html>