<!DOCTYPE html>
<html>
<head>
    <title>Person of the Year</title>
    <link href="~/StyleSheet.css" type="stylesheet" />
</head>
<body>
    <h1>Person of the Years</h1>

    <form action="/" method="post">
        <label name="startYear">Beginning Year</label>
        <input name="startYear" type="number" />

        <label name="endYear">Ending Year</label>
        <input name="endYear" type="number" />

        <button type="submit">Submit</button>
    </form>
</body>
</html>