<!DOCTYPE html>
<html>
<head>
    <title>Results</title>
    <link href="~/StyleSheet.css" rel="stylesheet" />
</head>
<body>
    <h1>Persons of the Years</h1>

    <h2>These are results!</h2>
</body>
</html>
